@import "./Pages/Home/Home.scss";
@import "./Components/Nav/Nav.scss";
@import "./Components/Card/Card.scss";
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Jura', sans-serif;
  background: #fff;
  color: #333;
}